<link href="../HtmlMessage/foundation-emails.css" rel="stylesheet" />

@*
    File only included for better handling when improving. Actual template for emails is "...StylesInlined.(cs)html".
    If you change this file, go to http://foundation.zurb.com/emails/inliner-v2.html and use this file and the
    css file "../HtmlMessage/foundation-emails.css" to inline all styles and write result to "...StylesInlined.(cs)html".
    See if "@" are correct (style-@ needs to be doubled to escape Razor) and check for all html-special chars in the inlined version
    (all "&" are "corrected" to "&amp;", so "&amp;" becomes "&amp;amp;". Also: "&" in URI must not be changed to html-char).
    And: remove this comment and the stylesheet-link above, also remove, when necessary, html- and body-tags (in .cshtml-files).
*@

<p class="lead">
    in deinem Wunschwissen sind aktuell
    <a href="@(Model.LinkToWishQuestions)?utm_medium=email@(Model.UtmSourceFullString)@(Model.UtmCampaignFullString)&utm_term=wishQuestions"><strong>@Model.QuestionCountWish</strong></a> 
    und <a href="@(Model.LinkToWishSets)?utm_medium=email@(Model.UtmSourceFullString)@(Model.UtmCampaignFullString)&utm_term=wishSets"><strong>@Model.SetCountWish</strong></a>. So sieht dein aktueller Wissensstand aus:
</p>

<table class="row">
    <tr>
        <th class="small-12 large-12 columns first last">
            <ul>
                <li>@Model.KnowledgeSolidPercentage % Sicheres Wissen (@Model.KnowledgeSolid Fragen)</li>
                <li>@Model.KnowledgeNeedsConsolidationPercentage % Zu festigen (@Model.KnowledgeNeedsConsolidation Fragen) </li>
                <li>@Model.KnowledgeNeedsLearningPercentage % Zu lernen (@Model.KnowledgeNeedsLearning Fragen) </li>
                <li>@Model.KnowledgeNotLearnedPercentage % Noch nicht gelernt (@Model.KnowledgeNotLearned Fragen) </li>
            </ul>

            @*<table>
                <tbody>
                    <tr>
                        <th>
                            <p class="text-right">
                                @Model.KnowledgeSolidPercentage % <br/>
                                @Model.KnowledgeNeedsConsolidationPercentage % <br/>
                                @Model.KnowledgeNeedsLearningPercentage % <br/>
                                @Model.KnowledgeNotLearnedPercentage % <br/>
                            </p>
                        </th>
                        <th class="expander"></th>
                    </tr>
                </tbody>
            </table>

        </th>

        <th class="small-10 large-10 last columns">

            <table>
                <tbody>
                    <tr>
                        <th>
                            <p class="text-left">
                                Sicheres Wissen (@Model.KnowledgeSolid Fragen) <br/>
                                Zu festigen (@Model.KnowledgeNeedsConsolidation Fragen) <br/>
                                Zu lernen (@Model.KnowledgeNeedsLearning Fragen) <br/>
                                Noch nicht gelernt (@Model.KnowledgeNotLearned Fragen) <br/>
                            </p>
                        </th>
                        <th class="expander"></th>
                    </tr>
                </tbody>
            </table>*@

        </th>

        <th class="expander"></th>
    </tr>
</table>

<center data-parsed="">
    <table class="button float-center"> <!--Button learn-->
        <tr>
            <th>
                <table>
                    <tr>
                        <td>
                            <a href="@(Model.LinkToLearningSession)?utm_medium=email@(Model.UtmSourceFullString)@(Model.UtmCampaignFullString)&utm_term=learnNowWuWi">Jetzt Wunschwissen lernen</a>
                        </td>
                    </tr>
                </table>
            </th>
        </tr>
    </table>
</center>

<p class="text-center">
    <small>
        Du hast dein Wunschwissen @Model.KnowledgeLastLearnedDate gelernt. @Raw(@Model.KnowledgeLastLearnedDateAsDistance)
    </small>
</p>


<table class="spacer">
    <tbody>
        <tr>
            <td height="50px" style="font-size:50px;line-height:50px;">&#xA0;</td>
        </tr>
    </tbody>
</table>


<table class="row">
    <tbody>
    <tr>
        <th class="small-12 large-7 first columns">

            <table>
                <tbody>
                <tr>
                    <th>
                        <h4>Lernstatistik</h4>
                        <p>
                            Du hast in @Model.ShowStatsForPeriodSinceString:
                        </p>
                        <ul>
                            <li>an @Model.DaysLearnedSinceCount von @Model.PossibleLearningDaysSince Tagen gelernt</li>
                            <li>@Model.AnsweredQuestionsSinceCount beantwortet@(Raw(@Model.AnsweredQuestionsCorrectSinceCount))</li>
                            <li>eine Folge von @Model.StreakSince gehabt. Deine bisher längste Folge an Lerntagen war @(Model.TopStreak). </li>
                        </ul>

                        <center data-parsed="">
                            <table class="button float-center">
                                <!--Button show more learning stats-->
                                <tr>
                                    <th>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a href="https://memucho.de/Wissenszentrale?utm_medium=email@(Model.UtmSourceFullString)@(Model.UtmCampaignFullString)&utm_term=showLearningStats">Deine Lernstatistiken anzeigen</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                            </table>
                        </center>

                        <table class="spacer">
                            <tbody>
                                <tr>
                                    <td height="30px" style="font-size:30px;line-height:30px;">&#xA0;</td>
                                </tr>
                            </tbody>
                        </table>

                        <h4>Neues Wissen bei memucho</h4>
                        <p>
                            In @Model.ShowStatsForPeriodSinceString wurden bei memucho @Model.NewQuestions neue Fragen und
                            @Model.NewSets Lernsets erstellt.<br/>
                            Damit kannst du jetzt insgesamt @Model.TotalAvailableQuestions Fragen und
                            @Model.TotalAvailableSets Lernsets bei memucho lernen.<br/>
                            Da ist bestimmt etwas dabei, das du gern wissen möchtest!
                        </p>

                        <center data-parsed="">
                            <table class="button float-center">
                                <!--Button expand WuWi-->
                                <tr>
                                    <th>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a href="https://memucho.de/Fragesaetze?utm_medium=email@(Model.UtmSourceFullString)@(Model.UtmCampaignFullString)&utm_term=expandWuWi">Jetzt Wunschwissen erweitern</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                            </table>
                        </center>

                    </th>


                    <th class="expander"></th>

                </tr>
                </tbody>
            </table>

        </th><!-- end of main column -->



        <th class="sidebar small-12 large-5 last columns">
            <!-- Sidebar begins -->
            <table>
                <tbody>
                <tr>
                    <th>


                        <table class="callout">
                            <!-- first sidebar box begins -->
                            <tbody>
                            <tr>
                                <th class="callout-inner secondary">
                                    <h5>Deine Termine</h5>
                                    <p>
                                        @Raw(@Model.UpcomingDates)
                                    </p>

                                    <p>
                                        In deinem Netzwerk wird gerade für @Model.DatesInNetwork gelernt.
                                    </p>

                                    <h5>Deine Lernsitzungen</h5>
                                    <p>
                                        Du hast in der nächsten Woche @Model.UpcomingTrainingDatesCount Lernsitzungen@(Model.UpcomingTrainingDatesTrainingTime).
                                    </p>

                                    <center data-parsed="">
                                        <!--Button create date-->
                                        <table class="button float-center">
                                            <tr>
                                                <th>
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <a href="@(Model.LinkToDates)?utm_medium=email@(Model.UtmSourceFullString)@(Model.UtmCampaignFullString)&utm_term=showDateOverview">Zur Terminübersicht</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </table>
                                    </center>

                                </th>

                                <th class="expander"></th>

                            </tr>
                            </tbody>
                        </table> <!-- first sidebar box ends -->


                        <table>
                            <!-- second sidebar box begins -->
                            <tbody>
                            <tr>

                                <th class="callout-inner secondary">
                                    <h5>Status</h5>
                                    <p>
                                        Du hast <strong><a href="https://memucho.de/Nachrichten?utm_medium=email@(Model.UtmSourceFullString)@(Model.UtmCampaignFullString)&utm_term=showUnreadMessages">@Model.UnreadMessagesCount ungelesene Nachrichten</a></strong>.<br/>
                                    </p>

                                    <p>
                                        Du folgst @Model.FollowerIAm und @Model.FollowedIAm dir. <br/>
                                        <a href="https://memucho.de/Nutzer?utm_medium=email@(Model.UtmSourceFullString)@(Model.UtmCampaignFullString)&utm_term=expandNetwork">Netzwerk erweitern</a>
                                    </p>
                                </th>

                                <th class="expander"></th>
                            </tr>
                            </tbody>
                        </table> <!-- second sidebar box ends -->

                    </th>
                </tr>
                </tbody>
            </table>
        </th> <!-- end of sidebar-->


        <th class="expander"></th>
    </tr>
    </tbody>
</table>

<table class="spacer">
    <tbody>
        <tr>
            <td height="30px" style="font-size:30px;line-height:30px;">&#xA0;</td>
        </tr>
    </tbody>
</table>

<p>
    Viel Spaß beim Lernen und Wissen wünschen dir <br/>
    <strong>Christof, Jule &amp; Robert</strong>
</p>

<p>
    <small>
        Deine Lernsitzungen bei memucho sind personalisiert. memucho wählt für dich immer die Fragen zum Lernen
        aus, die du am dringendsten wiederholen solltest. Wenn du zu einem Termin lernen möchtest, erstellt memucho für dich
        sogar einen persönlichen Lernplan, um dein Lernen zu optimieren.
        Übrigens werden unsere Prognosen für deine Lernzeit immer genauer, je mehr du und deine Freunde
        mit memucho lernen.
        @*<a href="@(Model.LinkToTechInfo)?utm_medium=email@(Model.UtmSourceFullString)@(Model.UtmCampaignFullString)&utm_term=infoOnTechnology">Hier erfährst du mehr über unsere Technologie</a>.*@
    </small>
</p>
