<p class="lead">
    Lernerinnerung für Termin "@Model.DateName" (@Model.Date)
</p>
<p>
    Jetzt ist der ideale Zeitpunkt um zu lernen.
</p>

<table class="row">
    <tr>
        <td class="wrapper last">
            <table class="eleven columns">
                <tr>
                    <td class="eleven sub-columns last">
                        Anzahl Fragen: @Model.QuestionCount <br />
                        Übungszeit: @Model.TrainingLength <br />
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table class="medium-button" style="width: 230px; margin-top: 15px;">
    <tbody>
        <tr>
            <td>
                <a href="@Model.LinkToLearningSession">Jetzt üben!</a>
            </td>
        </tr>
    </tbody>
</table>