
<p>
    Jetzt ist für dich der ideale Zeitpunkt, um für deinen Termin <strong>@Model.DateName</strong> zu lernen. Deshalb hat memucho für dich eine persönliche Lernsitzung zusammengestellt:
</p>

<p class="text-center">
    <strong>@Model.QuestionCountTrainingSession Fragen</strong>
</p>
<p class="text-center">
    <strong>@Model.TrainingLengthTrainingSession Lernzeit (geschätzt)</strong>
</p>

<center data-parsed="">
    <table class="button primary float-center">
        <tr>
            <td>
                <table>
                    <tr>
                        <td><a href="@(Model.LinkToLearningSession)?utm_medium=email@(Model.UtmSourceFullString)@(Model.UtmCampaignFullString)&utm_term=learnNow">Jetzt lernen</a></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</center>


<table class="spacer">
    <tbody>
        <tr>
            <td height="40px" style="font-size:40px;line-height:40px;">&#xA0;</td>
        </tr>
    </tbody>
</table>


<p>
    <strong>Infos zum Termin @Model.DateName</strong>
</p>

<table class="row">
    <tbody>
        <tr>
            <th class="small-12 large-11 large-offset-1 columns first last">
                <table>
                    <tr>
                        <th>
                            <p>
                                Zeitpunkt: in @Model.DateAsDistance (@Model.DateOfDate)<br/>
                                Lerninhalte: @Model.LearningContentFullString<br/>
                                Verbleibende Lernzeit (geschätzt): @Model.RemainingTrainingSessionTime in @Model.RemainingTrainingSessionCount Übungssitzungen
                            </p>
                        </th>
                        <th class="expander"></th>
                    </tr>
                </table>
                <p>
                    In der <a href="@(Model.LinkToDates)?utm_medium=email@(Model.UtmSourceFullString)@(Model.UtmCampaignFullString)&utm_term=dateOverview">Terminübersicht</a> kannst du die Details zu deinem Termin
                    und zu deinem persönlichen Übungsplan ansehen und bearbeiten.
                </p>

            </th>
        </tr>
    </tbody>
</table>

<p>
    <small>
        Dein persönlicher Übungsplan wird von memucho nach jeder Übungssitzung aktualisiert,
        um dein Lernen zu optimieren.
        So sparst du Zeit und weißt immer genau, was du zu welchem Zeitpunkt am besten lernen solltest.
        Übrigens werden unsere Prognosen zur Lernzeit immer genauer, je mehr du und deine Freunde
        mit memucho lernen.
        <a href="@(Model.LinkToTechInfo)?utm_medium=email@(Model.UtmSourceFullString)@(Model.UtmCampaignFullString)&utm_term=infoOnTechnology">Hier erfährst du mehr über unsere Technologie</a>.
    </small>
</p>